body {
    font-family: "Lato", serif;
}

.navbar {
    border-radius: 0px;
    margin-bottom: 0;
}

.nav-title {
    font-size: 25px;
    text-transform: uppercase;
    color: black;
}

#map {
    margin: 0;
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    right: 0px;
    z-index: -4;
}

.sidenav {
    margin: 0;
    position: relative;
    left: 0px;
    top: 0px;
    bottom: 0px;
    right: 0px;
    width: max-content;
    float: right;
}


.list-group-item {
    margin: 0;
    color: black;
    border-left: solid;
    border-bottom: solid;
    background-color: #d9edf7d4;
}

#pano {
    width: 200px;
    height: 200px;
}

.list-group-item:focus {
    color: #fff;
    background-color: rgb(34, 34, 34);
    border-color: rgb(34, 34, 34);
}

.list-group-item:hover {
    color: #f5f5f5;
    background-color: #555;
}

#foursquare-img {
    height: 35px;
    width: 35px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 52px;
    color: black;
}

.footer .container {
    width: 100%;
    padding-top: 8px;
    padding-left: 8px;
}

.footer-name {
    font-size: .8em;
}

@media only screen and (max-width: 600px) {
  .navbar-form {
    padding: 10px 15px;
    margin-top: 90%;
    margin-right: -15px;
    margin-bottom: 8px;
    margin-left: -15px;
   }

}

